:root {
        --ic-brand-primary-darkened-5: #3370BB;
--ic-brand-primary-darkened-10: #306AB1;
--ic-brand-primary-darkened-15: #2E64A7;
--ic-brand-primary-lightened-5: #3F7BC6;
--ic-brand-primary-lightened-10: #4982C9;
--ic-brand-primary-lightened-15: #5389CC;
--ic-brand-button--primary-bgd-darkened-5: #3370BB;
--ic-brand-button--primary-bgd-darkened-15: #2E64A7;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #306AB1;
--ic-link-color-lightened-10: #4982C9;
--ic-brand-primary: #3575c4;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #3575c4;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #333333;
--ic-brand-global-nav-ic-icon-svg-fill: #3575c4;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #128812;
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #262626;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_103670000000000001/attachments/9/SecureSet_logo_nav.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_103670000000000001/attachments/2/SecureSet_FAVICON.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_103670000000000001/attachments/3/SecureSet_logomark_mobile.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_103670000000000001/attachments/4/SecureSet_logomark_windowstile.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_103670000000000001/attachments/5/SecureSet_logo_windowstile_wide.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_103670000000000001/attachments/6/SecureSet_logo_rightsidebar.png');
--ic-brand-Login-body-bgd-color: #3575c4;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #3575c4;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_103670000000000001/attachments/8/SecureSet_logo_login.png');
--ic-brand-Login-Content-bgd-color: #262626;
--ic-brand-Login-Content-border-color: #262626;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #dddddd;
--ic-brand-Login-footer-link-color: #dddddd;
--ic-brand-Login-footer-link-color-hover: #cccccc;
--ic-brand-Login-instructure-logo: #cccccc;
      }